/*

base color = #637F8D
accent color = #536DFE

*/

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding-top: 50px;

  background-color:#e4e5ed;
}
h1 {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  color:#ffffff;
  background-color:#637F8D;
  padding:20px;
  width: 730px;
  box-shadow: 5px 5px 20px #888888;
}
#containers{
    font-family: 'Roboto', sans-serif;
	margin: auto;
	padding:20px;
	background-color:#ffffff;
	width:730px;
	box-shadow: 5px 5px 20px #888888;
}

#pic{
	margin-bottom:5px;	
}